body{
    background-color: rgb(10, 75, 19); 
}
p{
    font-size: 14px;
    font-family: Arial;
}

/*meny*/
header{
    background-color: rgb(59, 187, 76);
    color: rgb(255, 255, 255);
    padding: 10px 0;
}

nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
nav ul li{
    display: inline ;
    margin: 20px;
}
nav ul li a {
text-decoration: none;
color: rgb(0, 0, 0);
}