/*besttämer backgrunds färgen på hela sidan*/
body{
    background-color: rgb(17, 157, 212); 
}

/*gjort att höjden är 97hv för att ta bort skrollen på höger sidan*/
.wrapper{
height: 97vh;
}
/*gör att footern får utstikande ferger och en ny höjd*/
footer{
background-color: rgb(14, 53, 100);
color: rgba(248, 248, 248, 0.74);
height: 30px;
}

/*meny backgrund färg*/
header{
    background-color: rgb(14, 53, 100);
}
/*gör att knapparna är på rätt plats*/
nav > ul{
    list-style: none;
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 80px;
}
/*gör att knapparna har en margin frång headern*/
nav ul li{
    display: inline ;
    margin: 20px;
}

/*gör att meny knapparna blir mindre synliga när man håller på dem*/
a:hover{
    opacity: 0.8;
}
/*gör att meny knapparna blir ännu mindre synlig när man trycker på dem*/
a:active{
    opacity: 0.5;
}

/*hem knapp för meny*/
.Hem{
    background-color: rgb(199, 0, 0); 
    color: white;
    border:none;
    height: 36px;
    width: 105px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px ;
    transition: opacity 0.15s;
   
   }
  /*om oss knappen för menyn*/
   .Om{
     background-color: white;
     border: rgb(41, 118, 215);
     border-style: solid;
     border-width:1px ;
     color:rgb (41, 118, 215);
     height: 36px;
     width: 62px;
     border-radius: 4px;
     cursor: pointer;
     margin-right: 8px;
     transition: background-color 0.15s,
     color 0.15s; 
   }
  
  
  /*kontakt knappen för menyn*/
   .Kontakt{
     background-color: rgb(2, 158, 255);
     border:none;
     color: white;
     height: 36px;
     width: 74px;
     border-radius: 18px;
     font-size: 15px;
     cursor: pointer;
     font-weight: bold;
     transition: box-shadow 0.15s;
   }
   /* gör att kontakt knappen får skugga om man håller på den*/
   .Kontakt:hover{
     box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
   }
   /*Vill att mina bilder ska vara en specifik width*/
    img{
        width: 40em;
    }
    /*Använde klass-selektor för att just dena imagen ska vara mindre. Användes i <img> elementet i om-oss.html*/
    .boll{
        width: 20em;
    }
   
    /* Vill att min tabell ska ha en border och justera text och färger. I Kontakt.html*/
    table, th, td{
        border: 2px solid black;
        border-collapse: collapse;
        color: blueviolet;
        font-size: 20px;
        width: 500px;
       
    }


        

    
    /*Vill få att cell infon ska vara centrerat*/
    td{
        text-align: center;
        
    }
    /*gör att udda rader i tabelen är en viss färg som gör zebra stripingen*/
    tr:nth-child(odd){
        background-color: rgb(201, 118, 132);
    }
    /*gör att jämna rader i tabelen är en viss färg som gör zebra stripingen*/
    tr:nth-child(even){
        background-color: rgb(158, 102, 209);
    }
  
    